.blog_area {
  height: 100%;
  width: min(500px, 100%);
  margin: 0 auto;
}

.blog_photo {
  max-height: 500px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.blog_link {
  color: var(--link-color);
}

pre {
  text-wrap: auto;
}
