:root {
  color-scheme: light dark;
}

:root {
  --bg-color: light-dark(#ffffff, #222222);
  --bg-opa-color: light-dark(#ffffff80, #22222280);
}

:root {
  --selection-bg-color: light-dark(#00000033, #ffffff33);
}

:root {
  --text-color: light-dark(#111111, #eeeeee);
  --text-opa-color: light-dark(#00000080, #ffffff80);
}

/* danger */
:root {
  --danger-border-color: light-dark(#b22424, #ff7070);
  --danger-bg-hover-color: light-dark(#f3d9d9, #4a1a1a);
}

:root {
  --input-bd-color: light-dark(#666666, #cccccc);
}

/* btn */
:root {
  --btn-hover-bg-color: light-dark(#d9dbf3, #2e2a8c);
  --btn-border-color: light-dark(#2e2a8c, #6e7ded);
  --btn-active-border-color: light-dark(#2545c5, #8faeff);
  --btn-active-bg-color: light-dark(#c0bef1, #1c235a);
}

/* hr */
:root {
  --hr-color: light-dark(#666666, #cccccc);
}

/* a */
:root {
  --link-color: light-dark(#3b3bc4, #6565e2);
}

/* blog item */
:root {
  --blog-item-bd-color: light-dark(#777777, #bbbbbb);
  --blog-item-bd-opa-color: light-dark(#a3a3a3, #646464);
}

/* main */
:root {
  --main-text-color: light-dark(#2e2a8c, #6e7ded);
}
