:root {
  --bg-color: #ffffff;
  --bg-color-opa: #ffffff80;
}

:root {
  --selection-bg: #00000033;
}

:root {
  --text-color: #111111;
  --text-opa-color: #00000080;
}

/* danger */
:root {
  --danger-border-color: #b22424;
  --danger-bg-hover-color: #f3d9d9;
}

/* input */
:root {
  --input-bd-color: #666666;
}

/* btn */
:root {
  --btn-hover-bg-color: #d9dbf3;
  --btn-border-color: #2e2a8c;
  --btn-active-border-color: #2545c5;
  --btn-active-bg-color: #c0bef1;
}

/* hr */
:root {
  --hr-color: #666666;
}

/* a */
:root {
  --link-color: #3b3bc4;
}

/* blog item */
:root {
  --blog-item-bd-color: #777777;
  --blog-item-bd-opa-color: #a3a3a3;
}

/* main */
:root {
  --main-text-color: #2e2eb2;
}
