@import url('../../../style/utils/animations.css');

.home_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.home_about_info {
  display: flex;
}

.home_about_img_con,
.home_about_img {
  height: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}

.home_about_img_con .loading_spinner_con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_about_img.hidden {
  scale: 0.7;
  opacity: 0;
  filter: blur(10px);
}

.home_about_img {
  margin: 0;
  scale: 1;
  opacity: 1;
  filter: blur(0px);
  transition: scale 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}

.home_about_info_text {
  opacity: 0;
  animation: opaTo1 1.5s ease forwards;
}

.home_about_name {
  font-size: 2.2em;
  font-weight: bold;
}

.home_about_title {
  font-size: 1.7em;
  color: var(--text-opa-color);
}

.home_about_desc {
  margin-top: 50px;
  opacity: 0;
  transform: translateY(100%);
  animation: opaTo1 0.5s 0.5s ease forwards,
    translateYTo0 0.5s 0.5s ease forwards;
}

.home_about_icons .icon {
  min-width: 25px;
  height: 25px;
  scale: 0.5;
  opacity: 0;
  filter: blur(5px);
  animation: scaleTo1 0.3s ease forwards, opaTo1 0.3s ease forwards,
    filterBlurTo0 0.2s ease forwards;
  animation-delay: var(--home-about-icon-delay, 0s);
}

.home_about_about_btn {
  color: var(--main-text-color);
  opacity: 0;
  transform: translateY(50%);
  animation: opaTo1 0.8s 0.5s ease forwards,
    translateYTo0 0.8s 0.5s ease forwards;
}

@media (max-width: 768px) {
  .home_about_info {
    flex-direction: column;
  }

  .home_about_img {
    width: 100px;
    height: 100px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

:root {
  --home-about-icon-delay: 0s;
}
